* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3em;
}

a {
  color: #333;
  text-decoration: none;
}
 .todo-p {
   width: 70%;
 }

 .alert {
   display: flex;
   justify-content: space-between
 }

@media (max-width: 768px) {
  .alert {
    display: flex;
    flex-direction: column;
    justify-content: center
  }
   .btn-group {
    padding: 0;
   }
   .todo-p {
    width: 100%;
  }
}